h1 {
    text-align: center;
}

a {
    text-decoration: none !important;
    color: #25abe1
}
a:hover{
    text-decoration: underline;
    color: blue;
}
body {
    /* background-repeat: no-repeat; */
    background-image: url("/assets/bg-main-blurred.jpg");
    background-size: 100%;
    color:lightgray;
}
.text-block{
    background: black;
    border-radius: 24px;
    margin: 1in;
    padding:24px;
    /* back: 0.5; */
}
#main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
    border-radius: 24px;
}

#button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#buynowlink {
    font-style: italic;
    font-weight: bold;
}
#footer-text{
    width: 100%;
    text-align: center;
}