h1 {
    text-align: center;
}

a {
    text-decoration: none !important;
    color: #25abe1
}
a:hover{
    color: #a0d7ec;
}
body {
    background-color: black;
    background-repeat: no-repeat;
    background-image: url("/assets/bg-main-blurred.jpg");
    background-position: center;
    color:lightgray;
}
.text-block{
    background: black;
    border-radius: 24px;
    margin: 4%;
    padding:24px;
}

#main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    margin-top:15%;
    border-radius: 24px;
}

#button {
    width: 100%;
    margin-bottom: 15%;
}
#buynowlink {
    font-style: italic;
    font-weight: bold;
}
#footer-text{
    width: 100%;
    text-align: center;
}