h1 {
    text-align: center;
}

body {
    /* background-repeat: no-repeat; */
    background-image: url("/assets/bg-main-blurred.jpg");
    background-size: 100%;
    color: whitesmoke;
}
#main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
    border-radius: 24px;
}

#button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
a {
    text-decoration: none !important;
}
#buynowlink {
    font-style: italic;
    font-weight: bold;
}
